/*
=========================================
Responsive Breakpoint
=========================================
*/

@media (max-width: 1799px) {

	/* 
	===============================
	Header Section
	===============================
	*/
	header {
		padding-left: 4rem;
		padding-right: 4rem;
	}

}

@media (max-width: 1599px) {

	/* 
	=====================================
	Variables
	=====================================
	*/
	:root {
		--size-xxl: 6rem;
		--size-xl: 4rem;
		--size-lg: 2.7rem;
	}

	/* 
	=====================================
	Variables
	=====================================
	*/

	/* 
	================================================
	================================================
	All Pages Reuseble Components
	================================================
	*/
	.wrapper-row {
		margin-right: -4rem;
		margin-left: -4rem;
	}

	.wrapper-row>* {
		padding-right: 4rem;
		padding-left: 4rem;
	}

	.title-xxl {
		line-height: rem;
	}

	.title-xl {
		line-height: rem;
	}

	.title-lg {
		line-height: rem;
	}

	/* 
	===============================
	Header Section
	===============================
	*/
	nav .logo img {
		max-width: 20rem;
	}

	nav .main-menu ul li a {
		font-size: 1.7rem;
	}

	nav .main-menu ul li a img {
		width: 1.9rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 25rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 47rem;
	}

	.spinnakers-en-gennakers-page-wrapper {
		padding: 10rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 44rem;
	}

	.over-ons-wrapper {
		padding-bottom: 10rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 44rem;
	}

	.contact-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.contact-list-text-2 p:nth-child(2) {
		margin-bottom: 1rem;
	}

}

@media (max-width: 1399px) {

	/* 
	=====================================
	Variables
	=====================================
	*/
	:root {
		--size-xxl: 5.4rem;
		--size-xl: 3.5rem;
		--size-lg: 2.5rem;
	}

	/* 
	=====================================
	Variables
	=====================================
	*/

	/* 
	================================================
	================================================
	All Pages Reuseble Components
	================================================
	*/
	.title-xxl {
		line-height: 7.5rem;
	}

	.title-xl {
		line-height: 5rem;
	}

	.title-lg {
		line-height: 3.5rem;
	}


	/* 
	===============================
	Header Section
	===============================
	*/
	header {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	nav .logo img {
		max-width: 17rem;
	}

	nav .main-menu ul li a {
		font-size: 1.6rem;
	}

	nav .main-menu ul li:not(:nth-child(6), :nth-child(7), :nth-child(8)) {
		margin-right: 2.5rem;
	}

	nav .main-menu>ul>li>a::after {
		right: -1.6rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Home Page Style
	============================================================================
	============================================================================
	*/
	.scherpe-prijzen-section {
		padding-bottom: 45rem;
	}

	.home-nieuwe-zeilen-section {
		min-height: 32.5rem;
	}

	.home-nieuwe-zeilen-wrapper {
		padding-bottom: 5.6rem;
	}

	.home-nieuwe-zeilen-img {
		max-width: 45rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 14rem;
	}

	.nieuwe-zeilen-wrapper {
		padding: 8rem;
	}

	.box-row {
		margin-right: -2.5rem;
		margin-left: -2.5rem;
	}

	.box-row>* {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	.price-row {
		margin-left: -3rem;
		margin-right: -3rem;
	}

	.price-row>* {
		padding-left: 3rem;
		padding-right: 3rem;
	}


	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 34rem;
	}

	.spinnakers-en-gennakers-page-wrapper {
		padding: 8rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 34rem;
	}

	.over-ons-wrapper {
		padding: 8rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 34rem;
	}

	.contact-wrapper {
		padding: 8rem;
	}


	/* 
	===================================
	Footer Section
	===================================
	*/
	.footer-row {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	}

	.footer-row>* {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.footer-logo-text p,
	.fooetr-widget-text p,
	.fooetr-widget-adress p,
	.pages-link a {
		font-size: 1.5rem;
	}

	/* 
	===============================
	Back to top Btn
	===============================
	*/
	#scroll-up-btn {
		width: 4rem;
		height: 4rem;
	}

	#scroll-up-btn img {
		width: 2rem;
		height: 2rem;
	}

}

@media (max-width: 1199px) {

	/* 
	=====================================
	Variables
	=====================================
	*/
	:root {
		--size-xxl: 5.1rem;
		--size-xl: 3.2rem;
		--size-lg: 2.2rem;
	}

	/* 
	=====================================
	Variables
	=====================================
	*/

	/* 
	================================================
	================================================
	All Pages Reuseble Components
	================================================
	*/
	.wrapper-row {
		margin-right: -3rem;
		margin-left: -3rem;
	}

	.wrapper-row>* {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	.title-xxl {
		line-height: 7rem;
	}

	.title-xl {
		line-height: 4.6rem;
	}

	.title-lg {
		line-height: 3rem;
	}

	/* 
	===============================
	Header Section
	===============================
	*/
	nav .logo img {
		max-width: 12rem;
	}

	nav .main-menu ul li a {
		font-size: 1.4rem;
	}

	nav .main-menu ul li:not(:nth-child(6), :nth-child(7), :nth-child(8)) {
		margin-right: 2rem;
	}

	nav .main-menu ul li a img {
		width: 1.4rem;
	}

	nav .main-menu>ul>li>a::after {
		right: -1.4rem;
	}


	/* 
	============================================================================
	============================================================================
	Start Home Page Style
	============================================================================
	============================================================================
	*/
	.home-nieuwe-zeilen-section {
		min-height: 29rem;
	}

	.home-nieuwe-zeilen-content {
		max-width: 45rem;
	}

	.scherpe-prijzen-left-text {
		padding: 3rem 1.5rem;
	}

	.home-nieuwe-zeilen-content h5 {
		display: table;
		margin: 0 0 0 auto;
	}

	.home-nieuwe-zeilen-img {
		max-width: 35rem;
		bottom: 12rem;
	}

	.gennakers-spinnakers-row {
		margin-right: -2.5rem;
		margin-left: -2.5rem;
	}

	.gennakers-spinnakers-row>* {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 9rem;
	}

	.nieuwe-zeilen-wrapper {
		padding: 3rem;
	}

	.box-row {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	}

	.box-row>* {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.price-row {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}

	.price-row>* {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 26rem;
	}

	.spinnakers-en-gennakers-page-wrapper {
		padding: 3rem;
	}

	.u-bepaalt-color-box {
		-ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 2rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 31rem;
	}

	.over-ons-wrapper {
		padding: 3rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 25rem;
	}

	.contact-wrapper {
		padding: 3rem;
	}

	.contact-list-text p {
		font-size: 1.4rem;
	}

	/* 
	===============================
	Footer Section
	===============================
	*/
	.footer-logo {
		margin-bottom: 4rem;
	}

}

@media (max-width: 991px) {

	/* 
	================================================
	================================================
	Start All Pages Reuseble Components
	================================================
	*/
	.line-text hr {
		width: 4rem;
		margin-top: 1.7rem;
	}

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	.nav-container {
		max-width: 720px;
		margin: auto;
	}

	header {
		padding: 3rem 0;
	}

	nav .logo img {
		max-width: 20rem;
	}

	nav .main-menu {
		position: relative;
		position: fixed;
		top: 0;
		left: -110%;
		padding: 3rem;
		background: var(--secondary-color);
		width: 330px;
		z-index: 9999;
		min-height: 100vh;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}

	nav .show-menu {
		left: 0%;
		-webkit-transition: all 0.6s ease-in;
		-o-transition: all 0.6s ease-in;
		transition: all 0.6s ease-in;
	}

	nav .main-menu ul li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 5.rem;
	}

	nav .main-menu>ul>li>a,
	.menu-link>a {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	nav .main-menu ul li a {
		color: var(--primary-color);
		font-size: var(--size-sm);
	}

	nav .main-menu>ul>li>a::after,
	nav .main-menu>ul>li>.menu-link a:first-child:after,
	.sticky-menu nav .main-menu>ul>li>a::after,
	.sticky-menu nav .main-menu>ul>li>.menu-link a:first-child:after {
		background-color: transparent;
	}

	nav .main-menu ul li .sub-menu {
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		-webkit-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
		display: none;
		padding: 0rem 2rem;
	}

	.sub-menu-icon {
		display: inline-block;
		width: 3rem;
		height: 3rem;
	}

	.sub-menu-icon::after,
	.sub-menu-icon::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1.5rem;
		height: 2px;
		background-color: var(--primary-color);
	}

	.sub-menu-icon::after {
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}

	.sub-menu-icon::before {
		transform: translate(-50%, -50%) rotate(90deg);
		-webkit-transform: translate(-50%, -50%) rotate(90deg);
		-moz-transform: translate(-50%, -50%) rotate(90deg);
		-ms-transform: translate(-50%, -50%) rotate(90deg);
		-o-transform: translate(-50%, -50%) rotate(90deg);
}

	.sticky-menu .main-menu ul li .sub-menu {
		border-top: none;
	}


	/* 
	============================================================================
	============================================================================
	Start Home Page Style
	============================================================================
	============================================================================
	*/
	.hero-text {
		margin-top: 20rem;
	}

	.hero-text p {
		font-size: 6rem;
		line-height: 8rem;
	}

	.scherpe-prijzen-section {
		padding-bottom: 10rem;
	}

	.home-nieuwe-zeilen-section {
		min-height: auto;
		padding: 10rem 0;
	}

	.home-nieuwe-zeilen-wrapper {
		position: static;
		padding: 0;
	}

	.gennakers-spinnakers-row {
		margin-right: -0rem;
		margin-left: -0rem;
	}

	.gennakers-spinnakers-row>* {
		padding-right: 0rem;
		padding-left: 0rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 46rem;
	}

	.cruising-race-peformance-row {
		margin-right: -1.5rem;
		margin-left: -1.5rem;
	}

	.cruising-race-peformance-row>* {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 72rem;
	}

	.u-bepaalt-color-box {
		-ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
		grid-template-columns: repeat(4, 1fr);
	}


	.code-zero-content-box {
		min-height: 20.5rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 83rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Offerte Page Style
	============================================================================
	============================================================================
	*/
	.offerte-wrapper {
		top: -38.6rem;
		padding: 10rem 6rem 6rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 81.5rem;
	}

	/* 
	===============================
	Back to top Btn
	===============================
	*/
	#scroll-up-btn {
		width: 3.5rem;
		height: 3.5rem;
	}

	#scroll-up-btn img {
		width: 1.8rem;
		height: 1.8rem;
	}

}

@media (max-width: 767px) {

	/* 
	=====================================
	Variables
	=====================================
	*/
	:root {
		--size-xxl: 4.5rem;
		--size-xl: 2.8rem;
		--size-lg: 2rem;
		--size-md: 1.4rem;
		--btn-size: 1.8rem;
	}

	/* 
	=====================================
	Variables
	=====================================
	*/

	/* 
	================================================
	================================================
	Start All Pages Reuseble Components
	================================================
	*/
	.title-xxl {
		line-height: 6.5rem;
	}

	.title-xl {
		line-height: 4rem;
	}

	.title-lg {
		line-height: 2.7rem;
	}

	.title-md {
		font-size: 1.8rem;
		line-height: 2.2rem;
	}

	.title-sm {
		line-height: 2.5rem;
	}

	/* 
	================================================
	================================================
	End All Pages Reuseble Components
	================================================
	*/

	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	.nav-container {
		max-width: 540px
	}

	/* 
	============================================================================
	============================================================================
	Start Home Page Style
	============================================================================
	============================================================================
	*/
	.hero-text {
		margin-top: 18rem;
	}

	.hero-text p {
		font-size: 5.5rem;
		line-height: 7rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 44.5rem !important;
	}

	.price-row {
		padding: 3rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 78rem;
	}

	.u-bepaalt-color-box {
		-ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5rem;
	}

	.laagste-prijs-left-content-2 {
		margin-top: 0rem;
	}

	.code-zero-content-box {
		padding: 3rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 85rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Offerte Page Style
	============================================================================
	============================================================================
	*/
	.offerte-wrapper {
		padding: 6rem 3rem 10rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 78rem;
	}

}

@media (max-width: 575px) {

	/* 
	=====================================
	Variables
	=====================================
	*/
	:root {
		--size-xxl: 3.8rem;
		--size-xl: 2.6rem;
		--btn-size: 1.6rem;
	}

	/* 
	=====================================
	Variables
	=====================================
	*/


	/* 
	===============================
	Header Section Responsive
	===============================
	*/
	.nav-container {
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		margin-right: auto;
		margin-left: auto
	}

	nav .logo img {
		max-width: 13rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Home Page Style
	============================================================================
	============================================================================
	*/
	.hero-text p {
		font-size: 5rem;
		line-height: 6.5rem;
	}

	.scherpe-prijzen-left-text {
		min-height: auto;
	}

	.scherpe-prijzen-left-text-1 {
		margin-top: 0;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 47.9rem;
	}

	.nieuwe-zeilen-wrapper {
		padding: 2rem;
	}

	.nieuwe-zeilen-img img {
		height: 40rem;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.price-row {
		padding: 1.5rem;
	}

	.price-box {
		padding: 2rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 60rem;
	}

	.spinnakers-en-gennakers-page-wrapper {
		padding: 2rem;
	}

	.spinnakers-en-gennakers-page-img img {
		height: 40rem;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.u-bepaalt-wrapper {
		padding: 2rem;
	}

	.u-bepaalt-color-box {
		-ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5rem;
	}

	.code-zero-box-wrapper {
		padding: 1.5rem;
	}

	.code-zero-content-box {
		padding: 2rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 64rem;
	}

	.over-ons-wrapper {
		padding: 2rem;
	}

	.over-ons-img img {
		height: 40rem;
		-o-object-fit: cover;
		object-fit: cover;
	}

	/* 
	============================================================================
	============================================================================
	Start Offerte Page Style
	============================================================================
	============================================================================
	*/
	.offerte-wrapper {
		padding: 6rem 3rem 10rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 69rem;
	}

	.contact-wrapper {
		padding: 2rem;
	}

	.contact-img img {
		height: 40rem;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.contact-list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

}

@media (max-width: 573px) {

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 71rem;
	}
}

@media (max-width: 545px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 66rem;
	}

}

@media (max-width: 531px) {

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 46rem !important;
	}

}

@media (max-width: 520px) {

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 63rem;
	}

}

@media (max-width: 502px) {

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 49rem !important;
	}

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 69rem;
	}

}

@media (max-width: 489px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 71rem;
	}

}

@media (max-width: 486px) {

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 66rem;
	}
}

@media (max-width: 478px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 73rem;
	}

}

@media (max-width: 476px) {

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.u-bepaalt-wrapper {
		padding: 1.5rem;
	}

	.u-bepaalt-color-box {
		-ms-grid-columns: 1fr 1.5rem 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1.5rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 74rem;
	}
}

@media (max-width: 468px) {

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 51rem !important;
	}

}


@media (max-width: 463px) {

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 74rem;
	}
}

@media (max-width: 450px) {

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 54rem !important;
	}

}

@media (max-width: 437px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 75.8rem;
	}

}

@media (max-width: 435px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 78.2rem;
	}

}

@media (max-width: 425px) {

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 78rem;
	}
}

@media (max-width: 415px) {

	/* 
	============================================================================
	============================================================================
	Start Offerte Page Style
	============================================================================
	============================================================================
	*/
	.offerte-wrapper {
		top: -42.6rem;
	}
}

@media (max-width: 413px) {

	/* 
	============================================================================
	============================================================================
	Start Offerte Page Style
	============================================================================
	============================================================================
	*/
	.offerte-wrapper {
		top: -50rem;
	}
}

@media (max-width: 409px) {

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 76rem;
	}
}

@media (max-width: 406px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 80.7rem;
	}

}

@media (max-width: 404px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 83.2rem;
	}

}


@media (max-width: 394px) {

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 56rem !important;
	}

}


@media (max-width: 368px) {


	/* 
	================================
	Header
	================================
	*/
	nav .main-menu {
		width: 100%;
	}

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 82rem;
	}
}

@media (max-width: 366px) {

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 78.5rem;
	}
}

@media (max-width: 361px) {

	/* 
	============================================================================
	============================================================================
	Start Home Page Style
	============================================================================
	============================================================================
	*/
	.hero-text p {
		font-size: 4.5rem;
		line-height: 6rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 59rem !important;
	}

}

@media (max-width: 360px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 85.5rem;
	}

}

@media (max-width: 353px) {

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 85rem;
	}
}

@media (max-width: 351px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 90rem;
	}

}

@media (max-width: 347px) {

	/* 
	============================================================================
	============================================================================
	Start Spinnakers En Gennakers Page Style
	============================================================================
	============================================================================
	*/
	.spinnakers-en-gennakers-page-section {
		min-height: 88rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 61rem !important;
	}

}

@media (max-width: 340px) {

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 80rem;
	}
}

@media (max-width: 337px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 90rem;
	}

}

@media (max-width: 332px) {

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 63rem !important;
	}

	/* 
	============================================================================
	============================================================================
	Start Offerte Page Style
	============================================================================
	============================================================================
	*/
	.offerte-wrapper {
		top: -54rem;
	}

	/* 
	============================================================================
	============================================================================
	Start Contact Page Style
	============================================================================
	============================================================================
	*/
	.contact-section {
		min-height: 83rem;
	}

}

@media (max-width: 329px) {

	/* 
	============================================================================
	============================================================================
	Start Nieuwe Zeilen Page Style
	============================================================================
	============================================================================
	*/
	.nieuwe-zeilen-section {
		min-height: 70rem !important;
	}

}

@media (max-width: 324px) {

	/* 
	============================================================================
	============================================================================
	Start Over Ons Page Style
	============================================================================
	============================================================================
	*/
	.over-ons-section {
		min-height: 93rem;
	}

}